@import 'reset.css';

/* NAV */

header {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;

}

.nav-item a:hover {
    color: #40A2D8;
    transition: color 0.3s ease;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;

}

.contact-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0B60B0;
    transition: background-color 0.3s ease;
}

.contact-button button:hover {
    background-color: #40A2D8;
}

.contact-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .contact-button {
        display: block;
        padding: 1rem 2rem;
    }

    .open {
        display: block;
    }
}